@model Student
@{
    ViewData["Title"] = "RegisterMB";
}

<h1>RegisterMB</h1>

<form method="post">

    <label asp-for="FullName"></label>
    <input asp-for="FullName" />
    <span asp-validation-for="FullName"></span>
    <br />

    <label asp-for="ProgramOfChoice"></label>
    <input asp-for="ProgramOfChoice" />
    <span asp-validation-for="ProgramOfChoice"></span>
    <br />

    <label asp-for="DateOfBirth"></label>
    <input asp-for="DateOfBirth" />
    <span asp-validation-for="DateOfBirth"></span>
    <br />

    <label asp-for="HomeAddress"></label>
    <input asp-for="HomeAddress" />
    <span asp-validation-for="HomeAddress"></span>
    <br />

    <input type="submit" value="Register Model Binding Way" />
</form>